@import url('https://fonts.googleapis.com/css?family=Poppins');

// $primary: #262B5A;
$primary: #1E2248;
$dark-primary: #16122C;
$light-primary: #2E366D;
// $background: #E6ECEB;
$background: #FCFCFC;
// $dark-background: #D1D1D1;
$dark-background: #ECF0F1;
$darker-background: #D1D1D1;

html, body {
  padding: 0;
  margin: 0;
  min-width: 268px;
  background-color: $background;
  font-family: 'Poppins', sans-serif !important;
}

.background-background {
  background-color: $background;
}

.background-primary {
  background-color: $primary;
}

.text-background {
  color: $background;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pointer {
  cursor: pointer;
}

// NAVBAR 
.nvb {
  background-color: $primary !important;
  color: $background !important;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

// TODO underline ease in hover ?
.nvb-item {
  height: 3.5rem;
  padding: 0;
  line-height: 3.5rem;
  color: $background !important;
  font-family: 'Poppins', sans-serif !important;
}

.nvb-brand {
  height: 3.5rem;
  padding: 0;
  line-height: 3.5rem;
  color: $background !important;
  font-family: 'Poppins', sans-serif !important;
}

.nvb-selected {
  background-color: $dark-primary;
}

.nvb-item:hover {
  color: $darker-background !important;
  font-family: 'Poppins', sans-serif !important;
}

.nvb-toggle {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(233, 233 ,233)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}


// CONTENT
.primary-color {
  color: $primary !important;
}

.custom-primary {
  background-color: $primary !important;
  color: $background !important;
}

.custom-primary:hover {
  background-color: $dark-primary !important;
}

// SIDEBAR 
.side-item-sel {
  background-color: $primary;
  color: $background;
}

.side-item:hover {
  background-color: $dark-background;
}


// THREADS 
.thread-head {
  background-color: $dark-background;
}

.thread-text:hover {
  text-decoration: underline;
  cursor: pointer;
}


// OVERWRITES
.close {
  opacity: 1;
  color: $background !important;
  border: none;
  margin-left: 0 !important;
}




@media (max-width: 991px) {
  .nvb-selected {
    background-color: $primary;
    text-decoration: underline;
  }

  .nvb-item:hover {
    text-decoration: underline;
  }



  .threads {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}