@import url('https://fonts.googleapis.com/css?family=Poppins');

// $primary: #b50001;
$primary: #1E2248;
$dark-primary: #16122C;
$light-primary: #2E366D;
// $background: #E6ECEB;
// $background: #FCFCFC;
// // $dark-background: #D1D1D1;
// $dark-background: #ECF0F1;
// $darker-background: #D1D1D1;

// $background: #FCFCFC;
// $dark-background: #D1D1D1;
$background: #F1F4F5;
$light-background: #FFFFFF;
$dark-background: #DDE4E6;
$darker-background: #D1D1D1;
$darkest-background: #848484;

html, body {
  padding: 0;
  margin: 0;
  min-width: 268px;
  background-color: $background;
  font-family: 'Poppins', sans-serif !important;
}

.background-light-background {
  background-color: $light-background;
}

.background-background {
  background-color: $background;
}

.background-dark-background {
  background-color: $dark-background;
}

.background-darker-background {
  background-color: $darker-background;
}

.background-primary {
  background-color: $primary;
}

.text-background {
  color: $background;
}

.text-black {
  color: #000000;
}

.text-darkest-background {
  color: $darkest-background;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pointer {
  cursor: pointer;
}

// NAVBAR 
.nvb {
  background-color: $primary !important;
  color: $background !important;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

// TODO underline ease in hover ?
.nvb-item {
  height: 3.5rem;
  padding: 0;
  line-height: 3.5rem;
  color: $background !important;
  font-family: 'Poppins', sans-serif !important;
}

.nvb-brand {
  height: 3.5rem;
  padding: 0;
  line-height: 3.5rem;
  color: $background !important;
  font-family: 'Poppins', sans-serif !important;
}

.nvb-selected {
  background-color: $dark-primary;
}

.nvb-item:hover {
  color: $darker-background !important;
  font-family: 'Poppins', sans-serif !important;
}

.nvb-toggle {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(233, 233 ,233)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}


// CONTENT
.primary-color {
  color: $primary !important;
}

.custom-primary {
  background-color: $primary !important;
  color: $background !important;
}

.custom-primary:hover {
  background-color: $dark-primary !important;
}

// SIDEBAR 
.side-item-sel {
  background-color: $primary;
  color: $background;
}

.side-item-sel-alt {
  background-color: $dark-background;
}

.side-item:hover {
  background-color: $background;
}


// THREADS 
.thread-head {
  background-color: $dark-background;
}


.thread-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.uni-select:hover {
  background-color: $primary;
  color: $background;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

// SPINNER 
.spinner {
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
  width: 5rem;
  height: 5rem;
}

// OVERWRITES
.close {
  opacity: 1;
  color: $background !important;
  border: none;
  margin-left: 0 !important;
}

.no-under-hover:hover {
  text-decoration: none !important;
}

.custom-search {
  border-top: none;
}

.custom-search:focus {
  outline-offset: 0 !important;
  outline: none !important;
  box-shadow: none;
}

.alt-custom-primary {
  background-color: $primary !important;
  height: 2.5rem !important;
  border: none !important;
  color: $background !important;
  transition: 0s;
}

.alt-custom-primary:hover {
  // background-color: $dark-primary !important;
  color: $darker-background !important;
}

.alt-custom-primary:focus {
  // background-color: $dark-primary !important;
  color: $darker-background !important;
  outline-offset: 0 !important;
  outline: none !important;
  box-shadow: none;
}



a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

a:visited {
  color: inherit;
}

// OTHER
.link {
  cursor: pointer;
  color: $light-primary;
}

.link:hover {
  text-decoration: underline;
}






@media (max-width: 991px) {
  .nvb-selected {
    background-color: $primary;
    text-decoration: underline;
  }

  .nvb-item:hover {
    text-decoration: underline;
  }



  .threads {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 568px) {
  .topic-right {
    padding-top: 0.5rem;
    display: block !important;
    float: none !important;
  }
}